body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  margin: 0;
  background-color: #152826;
  color: #8696a0;
}
div {
  display: block;
}
.main {
  max-width: 35%;
  display: flex;
  width: 100%;
  background-color: #152826;
  color: #8696a0;
}

.main1 {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.msg {
  align-items: center;
  /* padding-right: 15px; */
  /* padding: 10px 15px 10px; */
  border: 1px solid var(rgb(134 150 160 / 15%));
  cursor: pointer;
  width: 100%;
  min-width: 0;
}

.first {
  display: flex;
  align-items: center;
  /* width: 100%; */
  margin: 0;
  margin-top: 1rem;
  /* padding: 0 1rem; */
  padding-right: 15px;
}


.chbx {
  display: flex;
  margin-top: 2px;
  margin-bottom: 1rem;
}

.time {
  
/* justify-items: flex-end; */
  width: 100%;
  text-align: right;
  font-size: 12px;
}
.bigg{
  font-size: 17px;
}
.small{
  min-width: 0;
  font-size: 14px;
    
}

svg{
  position: relative;
  padding-right: 4px;
  size: 100%;
  height: 18;
  width: 18;
}

.line1{
  margin: 0;
  max-width: 35%;
}

.text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mute{
  text-align: right;
  /* width: 0%; */
  font-size: 12px;
  display: inline-block;
}
.muted{
  padding-right: 1rem;
}